<p>table works!</p>
<table style="border-collapse: collapse;">
    <colgroup>
        <col style="width:100px;">
        <col style="width:100px;">
        <col style="width:100px;">
        <col style="width:100px;">
    </colgroup>
    <tr>
        <td colspan='2'></td>
        <td></td>
        <td></td>
        <!-- <td></td> -->
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
